<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
	<meta charset="UTF-8" />
	<title th:text="${titulo}"></title>
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/styles.css}" rel="stylesheet" />
	<link th:href="@{/css/jquery-ui.min.css}" rel="stylesheet" />
</head>
<body>
	<header th:fragment="header" class="mb-4">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Spring Boot</a>
				<button class="navbar-toggler" 
						type="button" 
						data-bs-toggle="collapse" 
						data-bs-target="#navbarNav" 
						aria-controls="navbarNav" 
						aria-expanded="false" 
						aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/listar}" th:utext="#{text.layout.navbar.cliente}"></a>
						</li>
						<li class="nav-item" sec:authorize="hasRole('ROLE_ADMIN')">
							<a class="nav-link" th:href="@{/form}" th:text="#{text.layout.navbar.crear}"></a>
						</li>
					</ul>
					<ul class="navbar-nav ms-auto">
					  	<li class="nav-item dropdown me-3">
						  	<a class="btn btn-outline-success dropdown-toggle"
								   href="#"
								   role="button"
								   id="dropdown"
								   data-bs-toggle="dropdown"
								   aria-expanded="false">
								   <span th:text="#{text.locale.language}"></span>
							</a>
						  	<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdown">
							  	<li class="nav-item">
							  		<a class="dropdown-item" th:href="@{/locale(lang=es_ES)}" th:text="#{text.locale.es}"></a>
							  	</li>
							  	<li class="nav-item">
							  		<a class="dropdown-item" th:href="@{/locale(lang=en_US)}" th:text="#{text.locale.en}"></a>
							  	</li>
							  	<li class="nav-item">
							  		<a class="dropdown-item" th:href="@{/locale(lang=pt_PT)}" th:text="#{text.locale.pt}"></a>
							  	</li>
						  	</ul>
					  	</li>
						<li class="nav-item" sec:authorize="!isAuthenticated()">
							<a class="nav-link btn btn-outline-primary border-0" th:href="@{/login}" th:text="#{text.layout.login}"></a>
						</li>
						<li class="dropdown show" sec:authorize="isAuthenticated()">
							<a class="btn btn-outline-primary dropdown-toggle"
							   href="#"
							   role="button"
							   id="simpleDropdown"
							   data-bs-toggle="dropdown"
							   aria-expanded="false">
							   <span sec:authentication="name"></span>
							 </a>
							 <div class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuLink">
							 	<form th:action="@{/logout}" method="post" id="logoutForm">
							 		<button class="dropdown-item"
							 				type="submit" 
							 				onclick="document.getElementById('logoutForm').submit();"
							 				th:text="#{text.layout.signout}">
							 		</button>
							 		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
							 	</form>
							 </div>
						</li>
					</ul>				  
				</div>
		  	</div>
		</nav>
		<div class="alert alert-success" th:if="${success != null}" th:text=${success}></div>
		<div class="alert alert-danger" th:if="${error != null}" th:text=${error}></div>
		<div class="alert alert-warning" th:if="${warning != null}" th:text=${warning}></div>
		<div class="alert alert-info" th:if="${info != null}" th:text=${info}></div>
	</header>
	<div class="container"></div>
	<footer th:fragment="footer" class="container">
		<hr />
		<div class="row">
			<div class="col-1">
				<img class="mw-100 float-end" th:src="@{/images/spring.png}" alt="Spring Logo" />
			</div>
			<div class="col">
				<p th:utext="#{text.layout.footer.powered}"></p>
				<p sec:authorize="isAuthenticated()">
					<span th:utext="#{text.layout.footer.user.logged}"></span>&nbsp;<span sec:authentication="name"></span>&nbsp;|
					<span th:utext="#{text.layout.footer.user.role}"></span>&nbsp;<span sec:authentication="principal.authorities"></span>
				</p>
				<p th:utext="#{text.layout.footer.copyright}"></p>
			</div>
		</div>
		<!-- JQuery -->
		<script th:src="@{/js/jquery-3.6.0.min.js}"></script>
		<script th:src="@{/js/bootstrap.min.js}"></script>
		<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
		<script th:src="@{/js/jquery-ui.min.js}"></script>
		<!--
		<script th:src="@{/js/popper.min.js}"></script>
		-->
	</footer>
</body>
</html>