<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head"></head>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container">
		<div class="card bg-danger text-white">
			<div class="card-header">
				<h1 th:text="#{text.error.403.titulo}"></h1>
			</div>
			<div class="card-body">
				<h5 class="card-title">
					<span th:text="#{text.error.403.text1}"></span>&nbsp;<span th:text="${#authentication.name}"></span><span th:text="#{text.error.403.text2}"></span>
				</h5>
				<a th:href="@{/listar}" class="btn btn-lg btn-outline-light mt-2" role="button" th:text="#{text.error.403.listar}"></a>
			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>